{
    "version": 1,
    "fio": [
        {
            "token": ""
        },
        {
            "name": "My personal account",
            "token": ""
        }
    ],
    "creditas": [
        {
            "account_type": "current",
            "account_id": "",
            "token": ""
        },
        {
            "account_type": "savings",
            "account_id": "",
            "token": ""
        }
    ]
}
